<h1>Listado de Alumnos</h1>
<button class="btn btn-primary col-2" (click)="mostrarNoMostrar()">Mostrar/NoMostrar</button>

<table class="table" *ngIf="mostrar==true">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Edad</th>
      <th scope="col">Nota</th>
    </tr>
  </thead>
<tbody>

  <tr *ngFor="let alumnos of alumnos; index as i">
  <th scope="row">{{i+1}}</th>
  <th>{{alumnos.nombre}}</th>
  <th>{{alumnos.apellido|uppercase}}</th>
  <th>{{alumnos.edad}}</th>
  <th [ngClass]="alumnos.nota == 'Aprobado' ? 'bg bg-success' : 'bg bg-secondary'">{{alumnos.nota}}</th>
</tr> 

</tbody>


